<div class="container">
    
    <div class="row">

    <!-- El ciclo do mostrará cada imagen que se tenga almacenada en la base de datos -->
        <% @pins.each do |pin| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <% if pin.image.attached? %>
            <%= image_tag pin.image, size: '200', class: 'card-img-top' %>
          <% end %>
          <div class="card-body">
            <div class="card-title">
                <h3><%= pin.name %></h3>
             </div>
            <%= link_to "Mostrar",  pin_path(pin), :class => "btn btn-default"%>
            <%= button_to "Modificar", edit_pin_path(pin), method: 'get', class:"btn btn-secondary" %>
            <%= button_to 'Eliminar', pin_path(pin), method: 'delete', data: {confirm: '¿Estás seguro?' }%>
            
          </div>
        </div>
        </div>
      <% end %>      
    </div>
</div>
