
<!--Navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
	<a href="/" class="navbar-brand" id="logo"><%= image_tag("pinterest_logo.jpg", :alt=> "Mi Pinterest", id:'logo') %></a>

	<!-- Buttons for responsive menu -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Navbar links -->
	<div class="collapse navbar-collapse flex-grow-1 text right" id="navbarSupportedContent">
		<!-- Search form -->
		
		<%# <form class="form-inline" action="<%= pins_path %>"> %>
			<%# <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q">
			<button class="btn btn-success" type="submit">Search</button>
		</form> %>

		<%= form_tag(pins_path, method: :get, class:'form-inline') do %>
			<%= text_field_tag :q , params[:q], class: 'form-control mr-sm-2' %>
			<%= submit_tag 'Buscar', name: nil, class:'btn btn-success' %>
		<% end %>

		<!-- Menu elements -->
    	<ul class="navbar-nav ml-auto flex-nowrap">
			<li class="nav-link menu-item"> Inicio</li>
         	<li class="nav-link menu-item"> Mis Pins</li>

			 <!-- The following conditional tests if the user is logged on to the site -->
			<%  unless user_signed_in? %>
				<li class="nav-item">
					<%= link_to "Registro", new_user_registration_path, class: "btn btn-primary btn-md navbar-btn", role: "button" %>
				</li>
				<li class="nav-item">
					<%= link_to "Ingresar", user_session_path, class: "btn btn-primary btn-md navbar-btn", role: "button" %>
				</li>
		    <% else %>
				<li class="nav-item">
					<%= image_tag("user_icon.jpg", style: 'width:40px', id: 'avatar') %>
				</li>
				<li class="nav-item">
					<%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "btn btn-primary navbar-btn", role: "button" %>
				</li>
      	 	<% end %>
        </ul>
    </div>
        <!-- <span class="navbar-text">
            Bienvenido, usuario
        </span> -->
    <!--     <div class="col-8">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control col-10 mr-sm-2" type="search" placeholder="Buscar Pin">
                <button class="btn btn-danger my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
        <div class="col text-center">
            <a href="#" class="texto-blanco" >Inicio</a>
        </div>
        <div class="col text-center">
            <p id="usuario" class="texto-blanco">Usuario</p>
            <%= image_tag("user_icon.jpg", :alt => "Usuario", style: 'width:20px') %>
        </div>
    </div> -->
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>