
<%= render 'partials/navbar' %>




<div class="container-fluid">
    <h1>Esta es la página principal de mi Pinterest</h1>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <%= image_tag("pins/pin1.jpg", :alt==> "Pin 1", class:'card-img-top', style: 'display:inline-block') %>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <%= image_tag("pins/pin2.jpg", :alt==> "Pin 2", class:'card-img-top', style: 'display:inline-block') %>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <%= image_tag("pins/pin3.jpg", :alt==> "Pin 3", class:'card-img-top', style: 'display:inline-block') %>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <%= image_tag("pins/pin4.jpg", :alt==> "Pin 4", class:'card-img-top', style: 'display:inline-block') %>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <%= image_tag("pins/pin5.jpg", :alt==> "Pin 5", class:'card-img-top', style: 'display:inline-block') %>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <%= image_tag("pins/pin6.jpg", :alt==> "Pin 6", class:'card-img-top', style: 'display:inline-block') %>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <%= image_tag("pins/pin7.jpg", :alt==> "Pin 7", class:'card-img-top', style: 'display:inline-block') %>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <%= image_tag("pins/pin8.jpg", :alt==> "Pin 8", class:'card-img-top', style: 'display:inline-block') %>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <%= image_tag("pins/pin9.jpg", :alt==> "Pin 9", class:'card-img-top', style: 'display:inline-block') %>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <%= image_tag("pins/pin0.jpg", :alt==> "Pin 0", class:'card-img-top', style: 'display:inline-block') %>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <%= image_tag("pins/pin11.jpg", :alt==> "Pin 11", class:'card-img-top', style: 'display:inline-block') %>
        </div>
    </div>
</div>

<%= render 'partials/footer' %>